<h2>Create New Landmark</h2>

require 'pry'
<form action="/landmarks" method="POST">
<label>Name</label>
<input type="text" name="landmark[name]" id="landmark_name">
<br><label>Year Completed</label>
<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
<br><br>

<h2>Titles</h2>
<% @titles.each do |title| %>
    <input type="checkbox" name="landmark[title_ids][]" id="title_<%= title.id %>" value="<%= title.id %>"><%= title.name %><br>
<% end %>

  <br>

  <h2><label>Create New Title: </label></h2>
  <input type="text" name="title[name]" id="new_title">

  <br>

  <h2>Landmarks</h2>
  <% @landmarks.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" id="landmark_<%= landmark.id %>" value="<%= landmark.id %>"><%= landmark.name %><br>
  <% end %>

  <br>

  <h2><label>Create New Landmark: </label></h2>
  <label>Name:</label><input type="text" name="landmark[name]" id="new_landmark">
  <label>Year Completed:</label><input type="text" name="landmark[year_completed]" id="landmark_year">
 
  <input type="submit" value="Create New Landmark">

  <br>


</form>


<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
